<?xml version="1.0"?>
<launch>
    <arg name="waypoint_record" default="false" />
    <!--<arg name="bag_file" default="/home/share/rosbag/kcct_g10.bag" />
    <arg name="map_pcd" default="$(find kcctcore)/config/pcd/kcct_g10.pcd" />-->
    <arg name="bag_file" default="/home/share/rosbag/yahataya211127_navigation2.bag" />
    <arg name="map_pcd" default="$(find kcctcore)/config/pcd/y1.pcd" />
    <arg name="waypoint_file" default="$(find kcctcore)/config/waypointdata/y1.csv"/>

    <param name="/use_sim_time" value="true" />
    <group if="$(arg waypoint_record)">
        <node name="initial3d" pkg="kcctplugin" type="3d_initial_pose" output="screen"/>
        <include file="$(find waypoint_tools)/launch/waypoint_record.launch"/>
    </group>
    <include file="$(find kcctcore)/launch/include/robot_model.launch"/>
    
    
    
    
    
    <node name="teensy_handler" pkg="kcctcore" type="teensy_handler">
		<param name="tf_publish" value="false" />
	</node>
    <include file="$(find kcctcore)/launch/include/hdl_localization.launch">
        <arg name="map_pcd" default="$(arg map_pcd)" />
    </include>

    <include file="$(find kcctcore)/launch/test/hdl_people_tracking.launch" />
    
    <include file="$(find kcctcore)/launch/include/planner.launch">
        <arg name="waypoint_file" default="$(arg waypoint_file)"/>
    </include>

    <include file="$(find kcctcore)/launch/include/rviz.launch">
        <arg name="map_2d" default="false" />
        <arg name="waypoint_marking" default="$(arg waypoint_record)" />
    </include>
    
    <node pkg="kcctcore" type="launch_delayed.sh" args="0 rosbag play $(arg bag_file) -r 1.0 --clock --topic /velodyne_points /float_sensor_data /initialpose /image_raw /scan" name="rosbag_play" output="screen" />
</launch>
