<launch>
<!--Robot Model-->
  <arg name="model" default="$(find kcctsim)/robots/naviton.urdf.xacro"/>
    <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

  <node pkg="kcctcore" type="joint_pub" name="joint_pub"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  		args="-urdf -model naviton -param robot_description"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false" output="screen">
  </node>
</launch>