<launch>
    <arg name="map_2d" default="true" />
    <arg name="waypoint_marking" default="true" />

    <group if="$(arg map_2d)">
        <group if="$(arg waypoint_marking)">
            <arg name="rviz_file" default="$(find kcctcore)/config/rviz/waypoint_2d.rviz" />
            <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)" respawn="true" />
        </group>
        <group unless="$(arg waypoint_marking)">
            <arg name="rviz_file" default="$(find kcctcore)/config/rviz/navigation_2d.rviz" />
            <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)" respawn="true" />
        </group>
    </group>

    <group unless="$(arg map_2d)">
        <group if="$(arg waypoint_marking)">
            <arg name="rviz_file" default="$(find kcctcore)/config/rviz/navigation_3d.rviz" />
            <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)" respawn="true" />
        </group>
        <group unless="$(arg waypoint_marking)">
            <arg name="rviz_file" default="$(find kcctcore)/config/rviz/navigation_3d.rviz" />
            <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)" respawn="true" />
        </group>
    </group>
</launch>