<?xml version="1.0"?>
<launch>
    <arg name="waypoint_record" default="false" />
    <arg name="bag_file" default="/home/share/rosbag/kcct_g10.bag" />
    <arg name="map_pcd" value="$(find kcctcore)/config/pcd/kcct_g10.pcd" />

    <param name="/use_sim_time" value="true" />
    <node pkg="tf" type="static_transform_publisher" name="stp_laser" args="0 0 0.8 0.0 0 0 base_link camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="stp_laser_vel" args="0 0 0.8 0.0 0 0 base_link velodyne_link 100" />
    
    <node name="teensy_handler" pkg="kcctcore" type="teensy_handler" output="screen" >
      
      <remap from="imu/data" to="imu/data_raw"/>
    </node>
    <node pkg="kcctcore" type="robot_model_node" name="robot_model_node" output="screen"/>
    
    <group if="$(arg waypoint_record)">
        <node name="initial3d" pkg="kcctplugin" type="3d_initial_pose" output="screen"/>
        <include file="$(find waypoint_tools)/launch/waypoint_record.launch"/>
    </group>
    <node pkg="kcctcore" type="launch_delayed.sh" args="0 rosbag play $(arg bag_file) -r 1.0 --clock --topic /velodyne_points /float_sensor_data /initialpose" name="launch_delayed1" output="screen" />
    <node pkg="kcctcore" type="launch_delayed.sh" args="3 roslaunch kcctcore mcl_3dl.launch map_pcd:=$(arg map_pcd)" name="launch_delayed2" output="screen" />
</launch>
