<launch>
    <arg name="sim" default="false" />
    <arg name="map_2d" default="false" />
    <arg name="show_gui" default="true"/>
    <arg name="way" default="wpdataA.csv"/>
    <include file="$(find kcctcore)/launch/navigationA.launch">
        <arg name="sim" default="true" />
        <arg name="map_2d" default="true"/>
        <arg name="show_gui" default="true"/>
        <arg name="way" default="wpdataA.csv"/>
    </include>
</launch>