<launch>
	<arg name="sim" default="false" />
    <arg name="2d" default="false" />

    <group if="$(arg sim)">
        <include file="$(find kcctcore)/launch/sensorsim.launch"/>
    </group>
    <group unless="$(arg sim)">
        <include file="$(find kcctcore)/launch/sensor.launch"/>
    </group>

    <group if="$(arg 2d)">
        <include file="$(find kcctcore)/launch/amcl.launch"/>
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kcctcore)/config/rviz/navigation2d.rviz" />
    </group>
    <group unless="$(arg 2d)">
        
    </group>
    
    <include file="$(find kcctnavigation)/launch/pcl_handler.launch"/>
    <include file="$(find waypoint_tools)/launch/path_display.launch"/>
    <node name="path_tracking" pkg="kcctnavigation" type="path_tracking" output="screen"/>
    <node name="emergency_stoper" pkg="kcctnavigation" type="emergency_stoper" output="screen"/>
    <node name="person_tracking" pkg="kcctnavigation" type="person_tracking" output="screen"/>
    <node name="navigation_master" pkg="kcctcore" type="navigation_master" respawn="true" output="screen"/>
    <!--<include file="$(find imageProcessor)/launch/colorTracking.launch"/>-->
    <node name="initial3d" pkg="kcctplugin" type="3d_initial_pose" output="screen"/>
</launch>