<launch>
<!--<node pkg="tf" type="static_transform_publisher" name="imu_transform" args="0 0 0 -1.570796 0 3.14159265 base_link imu_link 100"/>-->
<node pkg="tf" type="static_transform_publisher" name="imu_transform" args="0 0 0 0 0 0 base_link imu_link 100"/>
<node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
	<param name="port"              type="string"               value="/dev/teensy"/>
	<param name="baud"              type="int"                  value="57600"/>
	</node>
	
	<include file="$(find kcctcore)/launch/hokuyo_urg_single.launch"/>
	<include file="$(find kcctcore)/launch/velodyne.launch"/>
	<node pkg="kcctcore" type="robot_model_node" name="robot_model_node" output="screen"/>
 <node name="teensy_handler" pkg="kcctcore" type="teensy_handler"/>
 <!--<include file="$(find kcctcore)/launch/gnss.launch"/>-->
</launch>
